.inputContainer {
    flex-direction: row;
    margin-bottom: 8%;
    width: 100%;
    .formInput {
        width: 75%;
        background: transparent;
        color: #E0E0E0;
        border: 1px solid white;
        outline: none;
        border-radius: 30px;
        font-size: 0.8rem;
        padding: 15px;
        margin-right: 2%;
    }

    .passwordError{
        border: solid 1px #E9B425;
    }

    .inputIcon{
        min-width: 5%;
        margin-left: 1%;
        vertical-align: middle;
        display: inline-block;
    }

    .checkboxesLeft{
        color: white;
        margin-left: 10%;
        margin-top: 2%;
        font-size: 0.8em;
        display: inline-block;
        width: 30%;
    }

    .checkboxesRight{
        color: white;
        margin-top: 2%;
        font-size: 0.8em;
        display: inline-block;
        width: 30%;
    }

    .green{
        color: green;
    }

    .notChecked{
        background-color: gray;
        width: 16px;
        height: 16px;
        display: inline-block;
        margin-right: 5%;
        margin-bottom: 3%;
        vertical-align: middle;
    }

    .checkedImg{
        width: 16px;
        height: 16px;
        background-image: url('../../assets/check.png');
        background-repeat: no-repeat;
        background-color: white;
    }

    .iconActive{
        position: relative;
        right: 13%;
        transition: 1s;
    }
      
}
