.inputContainer {
    flex-direction: row;
    margin-bottom: 8%;
    width: 100%;
    .formInput {
        width: 75%;
        background: transparent;
        color: #E0E0E0;
        border: 1px solid white;
        outline: none;
        border-radius: 30px;
        font-size: 0.8rem;
        padding: 15px;
        margin-right: 2%;
    }

    .inputIcon{
        min-width: 5%;
        margin-left: 1%;
        vertical-align: middle;
        display: inline-block;
    }
}