@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');

.logoImg{
    width: 28%;
    position: fixed;
    bottom: 0;
    left: 0;
}

.text{
    font-family: 'Maven Pro', sans-serif;
    float: right;
    margin-top: 5%;
    margin-right: 7%;
    text-align: end;
    width: 65%;
    
        .textEngSm{
            color: #C12D18;
            font-size: 2.4em;
            font-weight: 700;
        }
        .textPtSm{
            color: #222222;
            font-size: 1.2em;
            font-weight: 400;
            margin-bottom: 2%;
            margin-top: 1%;
        }

        .textEng{
            color: #C12D18;
            font-size: 3.2em;
            font-weight: 700;
        }
}



@media only screen and (max-width: 1025px) {
    .logoImg{
        width: 36%;
        position: fixed;
        bottom: 0;
        left: 0;
    }
    
    .text{
        font-family: 'Maven Pro', sans-serif;
        float: right;
        margin-top: 10%;
        margin-right: 7%;
        text-align: end;
        width: 65%;
        
            .textEngSm{
                color: #C12D18;
                font-size: 1.6em;
                font-weight: 700;
            }
            .textPtSm{
                color: #222222;
                font-size: 1.0em;
                font-weight: 400;
                margin-bottom: 2%;
                margin-top: 1%;
            }
    
            .textEng{
                color: #C12D18;
                font-size: 2.4em;
                font-weight: 700;
            }
    }
    
  }

  @media only screen and (max-width: 800px) {
    .logoImg{
        width: 46%;
        position: fixed;
        bottom: 0;
        left: 0;
        opacity: 0.4;
    }
    
    .text{
        font-family: 'Maven Pro', sans-serif;
        float: right;
        margin-top: 16%;
        margin-right: 7%;
        text-align: end;
        width: 65%;
        
            .textEngSm{
                color: #C12D18;
                font-size: 1.4em;
                font-weight: 700;
            }
            .textPtSm{
                color: #222222;
                font-size: 0.8em;
                font-weight: 400;
                margin-bottom: 2%;
                margin-top: 1%;
            }
    
            .textEng{
                color: #C12D18;
                font-size: 2.0em;
                font-weight: 700;
            }
    }
    
  }


@media only screen and (max-width: 450px) {
    .logoImg{
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        opacity: 0.2;
    }
    
    .text{
        font-family: 'Maven Pro', sans-serif;
        margin-top: 25%;
        margin-right: 7%;
        margin-left: 7%;
        text-align: end;
        width: 90%;
            .textEngSm{
                color: #C12D18;
                font-size: 1.4em;
                font-weight: 900;
            }
            .textPtSm{
                color: #222222;
                font-size: 1.0em;
                font-weight: 900;
                margin-bottom: 5%;
                margin-top: 1%;
            }
    
            .textEng{
                color: #C12D18;
                font-size: 1.7em;
                font-weight: 900;
            }
    }
  }

  @media only screen and (max-width: 400px) {
    .text{
        font-family: 'Maven Pro', sans-serif;
        margin-top: 35%;
        margin-right: 7%;
        margin-left: 7%;
        text-align: end;
        width: 90%;
            .textEngSm{
                color: #C12D18;
                font-size: 1.2em;
                font-weight: 900;
            }
            .textPtSm{
                color: #222222;
                font-size: 0.9em;
                font-weight: 900;
                margin-bottom: 5%;
                margin-top: 1%;
            }
    
            .textEng{
                color: #C12D18;
                font-size: 1.5em;
                font-weight: 900;
            }
    }
  }

  @media only screen and (max-width: 350px) {
    .text{
        font-family: 'Maven Pro', sans-serif;
        margin-top: 45%;
        margin-right: 7%;
        margin-left: 7%;
        text-align: end;
        width: 90%;
            .textEngSm{
                color: #C12D18;
                font-size: 1.2em;
                font-weight: 900;
            }
            .textPtSm{
                color: #222222;
                font-size: 0.8em;
                font-weight: 900;
                margin-bottom: 5%;
                margin-top: 1%;
            }
    
            .textEng{
                color: #C12D18;
                font-size: 1.2em;
                font-weight: 900;
            }
    }
  }