@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');


.titleContainer{
    font-family: 'Maven Pro', sans-serif;
    width: 25%;
    min-width: 25%;
    display: inline-block;
    text-align: start;
    .titleDiv{
        width: 80%;
        margin-top: 25%;
        .title{
            color: white;
            font-size: 3rem;
            font-weight: 400;
            margin-bottom: 5%;
        }
        .subtitle{
            color: white;
            font-size: 1rem;
            font-weight: 400;
            margin-bottom: 40%;
        }
    }
        .login{
            color: white;
            font-size: 1.5rem;
            font-weight: 400;
            margin-bottom: 5%;
        }
        .registerOrLogin{
            width: 80%;
            margin-left: 15%;
            color: white;
            margin-bottom: 2%;
        }

        .errorDiv{
            width: 80%;
            height: 25px;
		.errorMessage {
			display: none;
			width: 100%;
            margin: auto;
			&__visible {
				display: flex;
				color: #E9B425;
        		font-weight: 700;
        		font-size: 0.8em;
				text-align: center;
				width: 70%;
			}
		}
    }
		.btn{
			color: white;
			background: linear-gradient(90deg, #FF2D04 0%, #C13216 100%);
            box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.50);
			font-weight: 700;
			border: none;
			border-radius: 40px;
			line-height: 23px;
			font-size: 0.7em;
			padding-top: 10px;
			padding-bottom: 10px;
			width: 80%;
			margin-top: 10%;
			display: block;
		}
        
}


@media only screen and (max-width: 1024px) {
    .titleContainer {
        margin-top: 1%;
        margin-left: 6%;
        width: 35%;
        .titleDiv{
            margin-top: 8%;
        }
        .registerOrLogin{
            width: 80%;
            margin-left: 16%;
        }
        .errorDiv{
            width: 100%;
            margin-left:-5%;
            margin-top: 5%;
        }
        
    }

  }

  @media only screen and (max-width: 800px) {
    .titleContainer {
        margin-top: 1%;
        margin-left: 1%;
        width: 35%;
        .titleDiv{
            margin-top: 10%;
        }
        .registerOrLogin{
            width: 80%;
            margin-left: 10%;
        }
        
    }

  }


@media only screen and (max-width: 450px) {
    .titleContainer {
        margin-top: 6%;
        margin-left: 6%;
        width: 64%;
        height: 64%;
        .titleDiv{
            width: 80%;
            margin-top: 25%;
            .title{
                color: white;
                font-size: 3rem;
                font-weight: 400;
                margin-bottom: 5%;
            }
            .subtitle{
                color: white;
                font-size: 1rem;
                font-weight: 400;
                margin-bottom: 30%;
            }
        }
        .registerOrLogin{
            width: 80%;
            color: white;
            margin-left: 8%;
            margin-bottom: 2%;
            text-align: start;
        }
        .errorDiv{
            width: 100%;
            margin-top: 5%;
        }
        .btn{
            width: 90%;
        }
    }

  }


  @media only screen and (max-width: 400px) {
    .titleContainer {
        margin-top: 6%;
        margin-left: 6%;
        width: 90%;
        .titleDiv{
            width: 80%;
            margin-top: 18%;
            .title{
                color: white;
                font-size: 3rem;
                font-weight: 400;
                margin-bottom: 5%;
            }
            .subtitle{
                color: white;
                font-size: 1rem;
                font-weight: 400;
                margin-bottom: 30%;
            }
        }
        .registerOrLogin{
            width:80%;
            color: white;
            margin-left: 15%;
            margin-bottom: 2%;
            text-align: start;
        }
        .errorDiv{
            width: 100%;
            margin-top: 5%;
        }
        .btn{
            width: 80%;
        }
    }

  }
