@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');


.footer{
    width: 100%;
    height: 11%;
    background: linear-gradient(90.16deg, #33383D 0%, #1C1D20 100%);
    display: block;
    font-family: 'Maven Pro', sans-serif;
    color: white;
    position: fixed;
    bottom: 0;
    .text{
        width: 30%;
        margin-left: 15%;
        margin-right: 1%;
        font-size: 0.7em;
        font-family: 'Maven Pro', sans-serif;
        text-align: end;
        display: inline-block;
    }
    .line{
        height: 61px;
        width: 0px;
        vertical-align: middle;
        color: white;
        display: inline-block;
        border: solid 0.5px white;
        margin: 1%;
        margin-right: 9%;
        background-color: white;
    }
    .countdownTextRefresh{
        width: 5%;
        display: inline-block;
        text-align: end;
        font-size: 0.8em;
        vertical-align: middle;
        margin-right: 2%;
    }
    .countdown{
        display: inline-block;
        font-size: 0.8em;
        vertical-align: middle;
        

        .countdownNumberText{
            display: inline-block;
        .countdownTextSeconds{
            text-align: center;
        }
        .countdownNumber{
            font-size: 3.2em;
            font-weight: 700;
        }
    }
    }

    .continueLogout{
        width: 20%;
        height: 100%;
        float: right;
    .squares{
        font-size: 0.8em;
        height: 100%;
        display: flex;
        vertical-align: middle;

        .continue{
            background-color: white;
            color: #C13216;
            width: 50%;
            height: 100%;
            text-align: center;   
            display: inline-block;


            .btnContinue{
            width: 60%;
            padding: 0;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            margin: auto;
                color: #C13216;
            background-color: white;
            border: none;
              }
        }

        .logout{
            background-color: #222222;
            color: white;
            width: 50%;
            height: 100%;
            text-align: center;   
            display: inline-block;
            vertical-align: middle;
            
        }

        .btnLogout{
            width: 100%;
            padding: 0;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            margin: auto;
            color: white;
            background-color: #222222;
            border: none;
        }
    }
}
    
    
}


@media only screen and (max-width: 450px) {
    .footer{
        width: 100%;
        background: linear-gradient(90.16deg, #33383D 0%, #1C1D20 100%);
        display: block;
        font-family: 'Maven Pro', sans-serif;
        color: white;
        height: 20%;
        .text{
            width: 80%;
            font-size: 0.7em;
            font-family: 'Maven Pro', sans-serif;
            text-align: center;
            margin: 0 auto;
            display: flex;
            margin-bottom: 3%;
            margin-top: 2%;
            padding-bottom: 2%;
            border-bottom: solid 1px white;
        }
        .line{
            display: none;
        }
        .countdownTextRefresh{
            width: 20%;
            display: inline-block;
            text-align: end;
            font-size: 0.8em;
            vertical-align: middle;
            margin-right: 2%;
            margin-left: 20%;
        }
        .countdown{
            display: inline-block;
            font-size: 0.8em;
            vertical-align: middle;
            
    
            .countdownNumberText{
                display: inline-block;
            .countdownTextSeconds{
                text-align: center;
            }
            .countdownNumber{
                font-size: 3.2em;
                font-weight: 700;
            }
        }
        }
    
        .continueLogout{
            width: 35%;
            height: 60%;
        .squares{
            font-size: 0.8em;
            height: 100%;
            display: flex;
            vertical-align: middle;
    
            .continue{
                background-color: white;
                color: #C13216;
                width: 50%;
                height: 100%;
                text-align: center;   
                display: inline-block;
                opacity: 0.8;
                border-radius: 3%;
    
    
                .btnContinue{
                width: 60%;
                height: 100%;
                margin: auto;
                color: #C13216;
                background-color: white;
                border: none;
                font-size: 0.9em;
                font-weight: 600;
                }
            }
    
            .logout{
                background-color: transparent;
                color: white;
                width: 50%;
                height: 100%;
                
            }
    
            .btnLogout{
                width: 100%;
                padding: 0;
                margin: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                margin: auto;
                color: white;
                background-color: transparent;
                border: none;
            }
        }
    }
        
        
    }
  }

 

